In [2]:
#import dependencies
import pandas as pd

In [3]:
#Import csv data 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#--------------------
# TOTAL PLAYER COUNT
#--------------------

# Retrieve the list of unique players
unique_players = purchase_data['SN'].unique()

#count of unique players
player_count = len(unique_players)

# Initialise data to lists. 
data = [{'Total Players': player_count}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data) 
  
# Print the data 
df

   Total Players
0            576

In [5]:
#------------------------------
# PURCHASING ANALYSIS (TOTAL)
#------------------------------

#Number of Unique Items
unique_items_count = len(purchase_data['Item ID'].unique())


#Average Purchase Price
average_purchase_price = round(purchase_data["Price"].mean(), 2)
average_purchase_price = f"${average_purchase_price}"


#Total number of purchases
total_purchases = len(purchase_data['Purchase ID'])


#Total Revenue
total_revenue = round(purchase_data['Price'].sum(), 2)
total_revenue = f"{total_revenue:,}"


# Initialise purchasing analysis data to a list. 
data = [{'Number of Unique Items': unique_items_count, 
         'Average Price': average_purchase_price,
         'Number of Purchases': total_purchases,
         'Total Revenue': total_revenue}] 
  
# Creates DataFrame. 
purchasing_analysis_df = pd.DataFrame(data) 
  

# Print the data 
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      2,379.77

In [10]:
#------------------------------
# GENDER DEMOGRAPHICS
#------------------------------

gender_count = []
gender_percentage = []
gender = ['Male', 'Female', 'Other / Non-Disclosed']

#Retrieve the unique_players into a list
all_male_players = purchase_data.loc[purchase_data['Gender'] =='Male', :]
male_players = all_male_players['SN'].unique()
male_players_count = len(male_players)
gender_count.append(male_players_count)

# Calculate male players percentage
male_percentage = (male_players_count / player_count) * 100
male_percentage = f"{round(male_percentage, 2)}%"
gender_percentage.append(male_percentage)

#Female player count
all_female_players = purchase_data.loc[purchase_data['Gender'] =='Female', :]
female_players = all_female_players['SN'].unique()
female_players_count = len(female_players)
gender_count.append(female_players_count)

# Calculate female players percentage
female_percentage = (female_players_count / player_count) * 100
female_percentage = f"{round(female_percentage, 2)}%"
gender_percentage.append(female_percentage)

#Other / Non-Disclosed
all_other_players = purchase_data.loc[purchase_data['Gender'] =='Other / Non-Disclosed', :]
other_players = all_other_players['SN'].unique()
other_players_count = len(other_players)
gender_count.append(other_players_count)

#other nondisclosed percentage
other_percentage = (other_players_count / player_count) * 100
other_percentage = f"{round(other_percentage, 2)}%"
gender_percentage.append(other_percentage)


gender_df = pd.DataFrame(
    [{'Total Count' : gender_count[0], 
     'Percentage of Players' : gender_percentage[0]},
     { 'Total Count' : gender_count[1], 
     'Percentage of Players' : gender_percentage[1]},
     { 'Total Count' : gender_count[2], 
     'Percentage of Players' : gender_percentage[2]}
    ], index = ['Male', 'Female', 'Other / Non-Disclosed'])


gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [9]:
#------------------------------
# PURCHASING ANALYSIS (GENDER) 
#------------------------------

# for all male players...

# Purchase count
male_purchase_count = len(all_male_players)
print(male_purchase_count)

# Average Purchase Price
male_avg_purchase_price = all_male_players['Price'].mean()
f_male_avg_purchase_price = f"${round(male_avg_purchase_price, 2)}"
print(f_male_avg_purchase_price)

#Total Purchase Value
male_total_purchase_value = all_male_players['Price'].sum()
f_male_total_purchase_value = f"${round(male_total_purchase_value,2):,}"
print(f_male_total_purchase_value)

#Average Total Purchase Per Person
avg_total_purchase_per_person = male_total_purchase_value / male_players_count
f_avg_total_purchase_per_person = f"${round(avg_total_purchase_per_person,2):,}"
print(f_avg_total_purchase_per_person)

652
$3.02
$1,967.64
$4.07

In [11]:
#------------------------------
# PURCHASING ANALYSIS (GENDER) 
#------------------------------

# for all female players...

# Purchase count
female_purchase_count = len(all_female_players)
print(female_purchase_count)

# Average Purchase Price
female_avg_purchase_price = all_female_players['Price'].mean()
f_female_avg_purchase_price = f"${female_avg_purchase_price:,.2f}"
print(f_female_avg_purchase_price)

#Total Purchase Value
female_total_purchase_value = all_female_players['Price'].sum()
f_female_total_purchase_value = f"${female_total_purchase_value:,.2f}"
print(f_female_total_purchase_value)

#Average Total Purchase Per Person
female_avg_total_purchase_per_person = female_total_purchase_value / female_players_count
f_female_avg_total_purchase_per_person = f"${female_avg_total_purchase_per_person:,.2f}"
print(f_female_avg_total_purchase_per_person)

113
$3.20
$361.94
$4.47

In [ ]:
#------------------------------
# PURCHASING ANALYSIS (GENDER) 
#------------------------------

# for all other players...

# Purchase count
other_purchase_count = len(all_other_players)
print(other_purchase_count)

# Average Purchase Price
other_avg_purchase_price = all_other_players['Price'].mean()
f_other_avg_purchase_price = f"${other_avg_purchase_price:,.2f}"
print(f_other_avg_purchase_price)

#Total Purchase Value
other_total_purchase_value = all_other_players['Price'].sum()
f_other_total_purchase_value = f"${other_total_purchase_value:,.2f}"
print(f_other_total_purchase_value)

#Average Total Purchase Per Person
other_avg_total_purchase_per_person = other_total_purchase_value / other_players_count
f_other_avg_total_purchase_per_person = f"${other_avg_total_purchase_per_person:,.2f}"
print(f_other_avg_total_purchase_per_person)