In [1]:
#import dependencies
import pandas as pd

In [2]:
#Import csv data 
file_path = "Resources\purchase_data.csv"

purchase_data_df = pd.read_csv(file_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [28]:
#Total Number of Players
players_unique_df = purchase_data_df['SN'].unique()

player_count = len(players_unique_df)
print(f"Player Count: {player_count}")

#Number of Unique Items
unique_items = len(purchase_data_df['Item ID'].unique())
print(f"Unique items: {unique_items}")

#Average Purchase Price
average_purchase_price = round(purchase_data_df["Price"].mean(), 2)
print(f"Average Purchase Price: {average_purchase_price}")

#Total Number of Purchases
total_purchases = len(purchase_data_df['Purchase ID'])
print(f"Total Purchases: {total_purchases}")

#Total Revenue
total_revenue = purchase_data_df["Price"].sum()
print(f"Total Revenue: {total_revenue}")

Player Count: 576
Unique items: 179
Average Purchase Price: 3.05
Total Purchases: 780
Total Revenue: 2379.77

In [39]:
#--------------------------------------
#Percentage and count of male players
#--------------------------------------

# Total player count
player_count = purchase_data_df['SN'].count()
print(f"Player count: {player_count}\n")

# Male players 
male_players = purchase_data_df.loc[purchase_data_df['Gender']=='Male', ['SN']]

# Male players count
male_player_count = male_players.count()
print(f"Male player count: {male_player_count}\n")

# Calculate the percentage
male_percentage = round((male_player_count / player_count) * 100, 2)
print(f"Male percentage : {male_percentage}\n")

Player count: 780

Male player count: SN    652
dtype: int64

Male percentage : SN    83.59
dtype: float64

In [23]:
# Female players 
female_players = purchase_data_df.loc[purchase_data_df['Gender']=='Female', ['SN']]

# Female players count
female_player_count = female_players.count()
print(f"Female player count: {female_player_count}\n")

# Calculate the percentage
female_percentage = round((female_player_count / player_count) * 100)
print(f"Female percentage : {female_percentage}\n")

Female player count: SN    113
dtype: int64

Female percentage : SN    14.49
dtype: float64

In [24]:
gender_series = purchase_data_df['Gender'].value_counts()
gender_series

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [25]:
# Other / Non-Disclosed players 
other_players = purchase_data_df.loc[purchase_data_df['Gender']=='Other / Non-Disclosed', ['SN']]

# Other / Non-Disclosed players count
other_player_count = other_players.count()
print(f"Other / Non-Disclosed player count: {other_player_count}\n")

# Calculate the percentage of Other / Non-Disclosed
other_percentage = round((other_player_count / player_count) * 100, 2)
print(f"Other / Non-Disclosed percentage : {other_percentage}\n")

Other / Non-Disclosed player count: SN    15
dtype: int64

Other / Non-Disclosed percentage : SN    1.92
dtype: float64

In [51]:
male_data = purchase_data_df.loc[purchase_data_df['Gender'] == 'Male', :]

#Male purchase count
male_purchase_count = male_data['Item ID'].count()
print(male_purchase_count)

#Average purchase price for male
male_purchase_price = round(male_data['Price'].mean(), 2)
print(male_purchase_price)

#Total purchase value for males
male_total_purchase_value = male_data['Price'].sum()
print(male_total_purchase_value)

652
3.02
1967.64

In [52]:
female_data = purchase_data_df.loc[purchase_data_df['Gender'] == 'Female', :]

#Female purchase count
female_purchase_count = female_data['Item ID'].count()
print(female_purchase_count)

#Average purchase price for female
female_purchase_price = round(female_data['Price'].mean(), 2)
print(female_purchase_price)

#Total purchase value for females
female_total_purchase_value = female_data['Price'].sum()
print(female_total_purchase_value)

113
3.2
361.94

In [54]:
other_data = purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed', :]

#Other / Non-Disclosed purchase count
other_purchase_count = other_data['Item ID'].count()
print(other_purchase_count)

#Average purchase price for Other / Non-Disclosed
other_purchase_price = round(other_data['Price'].mean(), 2)
print(other_purchase_price)

#Total purchase value for Other / Non-Disclosed
other_total_purchase_value = other_data['Price'].sum()
print(other_total_purchase_value)

15
3.35
50.19

In [55]:
#check 
print(male_total_purchase_value + female_total_purchase_value + other_total_purchase_value)

2379.77